[submodule "altium_stdlib"]
	path = hw/altium_stdlib
	url = https://github.com/gpa-fryk-industries/altium_stdlib

[submodule "fw/mcu/libopencm3"]
	path = fw/mcu/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
