/dts-v1/;

/{
    /* Enable serial terminal (NOTE: conflicts with SWD so cannot debug simultaneously!) */
    //enable-serial;

    /* Enable FPGA power and configuration */
    enable-fpga;

    fpga {
        /*TODO: Add fpga config options?*/
    };

    radio {
        /*TODO: Add radio config options?*/
    };

};